{
  "trailingComma": "all",
  "singleQuote": true,
  "importOrder": [
    "^@utils/(.*)$",
    "^@hooks/(.*)$",
    "^@components/(.*)$",
    "^@styles/(.*)$",
    "^@src/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
