{
  "trailingComma": "all",
  "singleQuote": true,
  "importOrder": [
    "react",
    "next",
    "<THIRD_PARTY_MODULES>",
    "^@utils/(.*)$",
    "^@src/(.*)$",
    "^@hooks/(.*)$",
    "^@components/(.*)$",
    "^@styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}
